/*********** MAIN **********/
* {
    box-sizing: border-box;
}

body{
  font-family: 'Montserrat', sans-serif;

}
a{
  cursor:pointer;
  color:#EB1767;
  text-decoration:none;
}
a:hover{
  color:#C4C4C4;
}

/*********** HERO PAGE **********/
.page-header{
  width:100%;
  position:fixed;
  background-color:#AE1F58;
  display:block;
  z-index:9;
  padding:0.5em 3em;


}

.page-logo{
  float:left;
  max-height:5em;


}

.page-nav{
  float:right;
  color:white;
  text-decoration:none;
  cursor:pointer;
  text-transform:uppercase;
  margin-top:1em;

}

.page-nav li{
  display:inline-block;
  text-decoration:none;
  padding-top:0.6em;
  padding-bottom:0.3em;
  margin-left:1em;
}
.page-nav li:hover{
  border-bottom:2px solid white;
}

.hero{
  min-height:600px;
  background-color:#EB1767;
  top-margin:150px;
}
.container{
  margin:auto;
  padding: 10% 2%;
  max-width:60%;
}

.intro{
  color:white;
  font-size:2em;
  font-weight:bold;
  line-height:1.2em;
  text-transform:uppercase;

}
.desc{
  color:white;
  padding-top:2em;
  line-height:1.7em;

}
.feature{
  display:block;
  position:relative;
  left:-25%;
  padding-top:4em;
  max-width:150%;
  z-index:0;

}

.btn{
  background-color:#AE1F58;
  color:white;
  cursor:pointer;
  display:block;
  margin:auto;
  width:15%;
  text-align:center;
  border-radius:10%;
  padding:1em;


}
.btn:hover{
  background-color:white;
  color:#EB1767;
}

  /*********** IMAGE PAGE **********/

.img-section{
    background-image:url("../img/background-photo.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-color:black;
    background-attachment: fixed;
}

p span{
  text-transform: uppercase;
  font-weight: bold;

}

/*********** BANNER **********/
.grey-banner{
  background-color:#292627;
  height:200px;
  width:100%;

}
.banner-img{
  display:block;
  margin: 0 auto;
  width:813px;
  height:200px;
}

.white-block{
  background-color:white;
  margin: 0 auto;
  width:813px;
  height:200px;
}

.affect{
  background-color:#EB1767;
  width:0;
  height:200px;
  transition: width 1s;

}
.affect:hover {
    width:100%;
}
/*********** ABOUT PAGE **********/
.about-section{
  height:800px;
}

.about-intro{
  color:#4B4B4D;
  font-size:2em;
  font-weight:bold;
  line-height:1.2em;
  text-transform:uppercase;

}
.about-desc{
  color:#626366;
  padding-top:2em;
  line-height:1.7em;
}

hr{
  margin:5em;
}

.mentors li{
  display:inline-block;
  width:55px;
  width: 23%;

}
.mentors li img{
  height:150px;
}



/*********** APPLY PAGE **********/






/*********** CONTACT PAGE **********/





/*********** FOOTER PAGE **********/





/*********** RESPONSIVE **********/
